<div bgcolor="#ffffff" text="#3b3f44" link="#696969" style="background-color:#ffffff">
    <a href="https://keinermendoza.com">
        <div align="center">
            <img width="100%" height="auto"  style="max-width:600px" src="https://objectstorage.us-ashburn-1.oraclecloud.com/n/id8ztu6vhbyl/b/public-keiner-homesite/o/my-site-hero.png" class="" data-bit="">
        </div>
    </a>

    <table cellpadding="0" border="0" cellspacing="0" style="display:none">
        <tbody>
            <tr>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table> 
    <table cellspacing="0" cellpadding="0" border="0" role="presentation" class="m_-5213953262133944624nl2go-body-table" width="100%" style="background-color:#ffffff;width:100%">
        <tbody>
            <tr>
                <td> 
                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" align="center" class="m_-5213953262133944624r0-o" style="table-layout:fixed;width:600px">
                        <tbody>
                            <tr>
                                <td valign="top" class="m_-5213953262133944624r1-i" style="background-color:#ffffff"> 
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_-5213953262133944624r3-o" style="table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td class="m_-5213953262133944624r4-i" style="padding-bottom:20px;padding-top:20px"> 
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <th width="100%" valign="top" class="m_-5213953262133944624r5-c" style="font-weight:normal"> 
                                                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r6-o" style="table-layout:fixed;width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" class="m_-5213953262133944624r7-i" style="padding-left:15px;padding-right:15px"> 
                                                                                    
                                                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="m_-5213953262133944624r8-c" align="center" style="font-size:0px;line-height:0px;padding-bottom:15px;padding-top:15px"> 
                                                                                                    
                                                                                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 537px; top: 419.5px;">
                                                                                                        
                                                                                                        <div id=":6j4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc4Mjk1NjcxNDY2MzE3OTc1OSJd" data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="Descargar">
                                                                                                            
                                                                                                            <div class="akn">
                                                                                                                <div class="aSK J-J5-Ji aYr">
            
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </td> 
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                </td> 
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </th> 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_-5213953262133944624r3-o" style="table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td class="m_-5213953262133944624r9-i" style="padding-bottom:10px;padding-top:5px"> 
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <th width="100%" valign="top" class="m_-5213953262133944624r5-c" style="font-weight:normal"> 
                                                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r6-o" style="table-layout:fixed;width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" class="m_-5213953262133944624r7-i" style="padding-left:15px;padding-right:15px"> 
                                                                                
                                                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="m_-5213953262133944624r10-c m_-5213953262133944624nl2go-default-textstyle" align="left" style="color:#3b3f44;font-family:arial,helvetica,sans-serif;font-size:16px;line-height:1.5;word-break:break-word;padding-top:15px;text-align:left"> 
                                                                                                    <div>
                                                                                                        <h1 class="m_-5213953262133944624default-heading1" style="color:#1f2d3d;font-family:arial,helvetica,sans-serif;font-size:36px;word-break:break-word;box-sizing:border-box;font-style:normal;letter-spacing:normal;margin:0px;padding:0px;text-decoration-style:initial;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
                                                                                                            <span style="font-size:28px">Hola {{username}}. Gracias por entrar en contacto.
                                                                                                                
                                                                                                            </span>
                        </h1>
                    </div> 
                </td> 
            </tr>
        </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </th> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_-5213953262133944624r3-o" style="table-layout:fixed;width:100%">
        <tbody>
            <tr>
                <td class="m_-5213953262133944624r4-i" style="padding-bottom:20px;padding-top:20px"> 
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                            <tr>
                                <th width="100%" valign="top" class="m_-5213953262133944624r5-c" style="font-weight:normal"> 
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r6-o" style="table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="m_-5213953262133944624r7-i" style="padding-left:15px;padding-right:15px"> 
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <td class="m_-5213953262133944624r11-c m_-5213953262133944624nl2go-default-textstyle" align="left" style="color:#3b3f44;font-family:arial,helvetica,sans-serif;font-size:16px;line-height:1.5;word-break:break-word;padding-bottom:15px;padding-top:15px;text-align:left"> 
                                                                    <div>
                                                                        <h2 class="m_-5213953262133944624default-heading2" style="color:#1f2d3d;font-family:arial,helvetica,sans-serif;font-size:18px;word-break:break-word;box-sizing:border-box;font-style:normal;letter-spacing:normal;margin:0px;padding:0px;text-decoration-style:initial;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
                                                                            Soy Keiner Mendoza y desarrollo sitios web desde cero. Creo diseños personalizados, programo funciones según las necesidades de tu sitio y gestiono aspectos técnicos como la compra de dominio, certificado SSL, aprovisionamiento de hosting, envío de notificaciones automáticas y/o procesos en segundo plano (como este proceso).
                                                                        </h2>
                                                                    </div> 
                                                                </td> 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td> 
    </tr>
    </tbody>
    </table>
    </th> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_-5213953262133944624r3-o" style="table-layout:fixed;width:100%">
        <tbody>
            <tr>
                <td class="m_-5213953262133944624r4-i" style="padding-bottom:20px;padding-top:20px"> 
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                            <tr>
                                <th width="100%" valign="top" class="m_-5213953262133944624r5-c" style="font-weight:normal"> 
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r6-o" style="table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="m_-5213953262133944624r7-i" style=""> 
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <td class="m_-5213953262133944624r11-c m_-5213953262133944624nl2go-default-textstyle" align="left" style="color:#3b3f44;font-family:arial,helvetica,sans-serif;font-size:16px;line-height:1.5;word-break:break-word;padding-bottom:15px;padding-top:15px;text-align:left"> 
        <div>
        <h4 class="m_-5213953262133944624default-heading4" style="color:#1f2d3d;font-family:arial,helvetica,sans-serif;font-size:18px;word-break:break-word;box-sizing:border-box;font-style:normal;letter-spacing:normal;margin:auto;max-width:600px;padding:0px;text-decoration-style:initial;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
            Este correo es una respuesta automática a la siguiente consulta realizada en mi sitio:

    </h4>
    <p style="margin:0">&nbsp;
        
    </p>
    <p style="margin:0">{{message}}
        
    </p>
    </div> 
    </td> 
    </tr>
    <tr>
        <td class="m_-5213953262133944624r12-c" align="center" style="padding-bottom:15px;padding-top:15px"> 
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="290" class="m_-5213953262133944624r13-o" style="background-color:#1b1b1b;border-collapse:separate;border-color:#1b1b1b;border-radius:4px;border-style:solid;border-width:0px;table-layout:fixed;width:290px">
                <tbody>
                    <tr>
                        <td height="18" align="center" valign="top" class="m_-5213953262133944624r14-i m_-5213953262133944624nl2go-default-textstyle" style="word-break:break-word;background-color:#1b1b1b;border-radius:4px;color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:16px;font-style:normal;line-height:1.15;padding-bottom:12px;padding-left:15px;padding-right:15px;padding-top:12px;text-align:center"> 
                            <a href="https://keinermendoza.com" target="_blank" class="m_-5213953262133944624r15-r m_-5213953262133944624default-button" style="font-style:normal;font-weight:normal;line-height:1.15;text-decoration:none;word-break:break-word;word-wrap:break-word;display:block;color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:16px"> 
                                <span>Ir a keinermendoza.com
                                </span>
                            </a> 
                        </td> 
                    </tr>
                </tbody>
            </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </th> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_-5213953262133944624r3-o" style="table-layout:fixed;width:100%">
        <tbody>
            <tr>
                <td class="m_-5213953262133944624r16-i" style="background-color:#eff2f7;padding-bottom:20px;padding-top:20px"> 
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                            <tr>
                                <th width="100%" valign="top" class="m_-5213953262133944624r5-c" style="font-weight:normal"> 
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r6-o" style="table-layout:fixed;width:100%">
        <tbody>
        <tr>
            <td valign="top" class="m_-5213953262133944624r7-i" style="padding-left:15px;padding-right:15px"> 
                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                    <tbody>
                        <tr>
        <td class="m_-5213953262133944624r17-c" align="left"> 
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r18-o" style="table-layout:fixed;width:100%">
                <tbody>
                    <tr>
                        <td align="center" valign="top" class="m_-5213953262133944624r19-i m_-5213953262133944624nl2go-default-textstyle" style="color:#3b3f44;font-family:arial,helvetica,sans-serif;word-break:break-word;font-size:18px;line-height:1.5;padding-top:15px;text-align:center"> 
                            <div>
                                <p style="margin:0">
                                    Próximamente 
                                    <strong>
                                    te escribiré desde este correo.
                                    </strong>
                                    <br>
                                    Siéntete libre de hacer tantas preguntas como quieras.
                                </p>
                            </div> 
                        </td> 
                    </tr>
                </tbody>
            </table>
        </td> 
    </tr>
    <tr>
        <td class="m_-5213953262133944624r17-c" align="left"> 
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r18-o" style="table-layout:fixed;width:100%">
                <tbody>
                    <tr>
                        <td align="center" valign="top" class="m_-5213953262133944624r19-i m_-5213953262133944624nl2go-default-textstyle" style="color:#3b3f44;font-family:arial,helvetica,sans-serif;word-break:break-word;font-size:18px;line-height:1.5;padding-top:15px;text-align:center"> 
                            <div>
                                <p style="margin:0;font-size:14px">
                                    Si el mensaje anterior no fue enviado por ti, puedes ignorarlo. O en caso de que no quieras recibir más mensajes, puedes reportarlo a través de este correo.
                                </p>
                            </div> 
                        </td> 
                    </tr>
                </tbody>
            </table>
        </td> 
    </tr>
    <tr>
        <td class="m_-5213953262133944624r17-c" align="left"> 
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_-5213953262133944624r18-o" style="table-layout:fixed;width:100%">
                <tbody>
                    <tr>
                        <td align="center" valign="top" class="m_-5213953262133944624r20-i m_-5213953262133944624nl2go-default-textstyle" style="color:#3b3f44;font-family:arial,helvetica,sans-serif;word-break:break-word;font-size:18px;line-height:1.5;text-align:center"> 
                            <div>

                            </div> 
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    <tr>
        <td class="m_-5213953262133944624r21-c" align="center"> 
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_-5213953262133944624r3-o" style="table-layout:fixed;width:100%">
                <tbody>
                    <tr>
                        <td valign="top" class="m_-5213953262133944624r22-i" style="padding-bottom:15px"> 
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                <tbody>
                                    <tr>
                                        <td class="m_-5213953262133944624r23-c" align="center"> 
                                            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="129" class="m_-5213953262133944624r24-o" style="table-layout:fixed">
                                                <tbody>
                                                    <tr>
                                                        
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </th> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    </td> 
    </tr>
    </tbody>
    </table>
    <div class="yj6qo">
        
    </div>
    <div class="adL">
        
    </div>
</div>